<!DOCTYPE html>
<html lang="en">
{%load static %}
<link rel="stylesheet" type="text/css" href="{% static 'NER/base_template.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'NER/S_RelationExtraction.css'%}" />
<head>
    <meta charset="UTF-8">
</head>

<body>
    <div id="app">
        <section class="el-container-vertical" style="min-height: 100%;">
            <header class="el-header" style="height: 45px; background-color: rgb(0,102,187); z-index: 20; box-shadow: 0px 0px 1px;">
                <span style="line-height: 45px; color: rgb(255,255,255); font-size: 20px; font-weight: bold;">Knowledge Extraction</span>
            </header>
            <section class="el-container-horizontal">
                <aside class="el-aside" style="width: 300px;">
                    <ul class="el-menu-vertical el-menu" role="menubar" style="height: 100%;">
                        <li class="el-submenu is-open" role="menuitem" aria-haspopup="true" aria-expanded="true">
                            <div class="el-submenu_title" style="padding-left: 20px;">
                                <i class="el-icon-share"></i>
                                <a href="/NRE/" style="color: #383133; text-decoration: none">Relation Extraction</a>
                            </div>
                            <ul class="el-menu el-menu--inline" role="menu">
                                <li class="el-menu-item" role="menuitem" tabindex="-1" style="padding-left: 40px;">
                                    <i class="el-icon-document"></i>
                                    <a href="/NRE/SRE/" style="color: #383133; text-decoration: none">Supervised Relation Extraction</a>
                                </li>
                                <li class="el-menu-item" role="menuitem" tabindex="-1" style="padding-left: 40px;">
                                    <i class="el-icon-document"></i>
                                    <a href="/NRE/Document/" style="color: #383133; text-decoration: none">Document Relation Extraction</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </aside>
                <main class="el-main" style="height: 100%;">
                    {% block content %} {% endblock %}
                </main>
            </section>
        </section>
    </div>
</body>
</html>