#app{
    margin: 0;
}
html{
    height: 100%;
    margin: 0;
}
.app{
    width: 100%;
    height: 100vh;
    display: flex;
}
.app-container-vertical{
    background-color: #a0cfff;
    width: 100%;
    -webkit-box-direction: normal;
}
.app-container-horizontal{
    display: flex;
    width: 100%;
    height: 100%;
}
.app-header{
    background-color: #383133;
}
.app-aside{
    width: 300px;
    height: 100%;
    background-color: #127862;
    box-sizing: border-box;
    overflow: auto;
    overflow-y: auto;
}
.app-main{
    flex: 1;
    height: 100%;
    overflow-y: auto;
    color: #be385d;
}
