html{
    height: 100%;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
}
#app{
    margin: 0;
    height: 100%;
}
.el-header{
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 0 20px;
}
.el-container,.el-container.is-vertical,.el-drawer,.el-link,.el-steps--vertical{
    -webkit-box-direction:normal
}
.el-container,.el-timeline-item__node{
    display:-webkit-box;
    display:-ms-flexbox
}
.el-aside{
    overflow: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex-shrink: 0;
}


.el-menu::after{
    clear: both;
}
.el-menu::before{
    display: table;
    content: "";
    background-color: #fff;
    
}

.el-submenu{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.el-submenu_title{
    vertical-align: middle;
    font-size: 14px;
    color: #383133;
    padding: 0 20px;
    cursor: pointer;
    transition: border-color .3s, background-color .3s, color .3s;
    box-sizing: border-box;
    height: 56px;
    line-height: 56px;
    position: relative;
    white-space: nowrap;
    list-style: noen;
}
.el-icon-share::before{
    content: "\E793";
}
.el-submenu [class^="el-icon-"]{
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
}
.el-submenu_title i{
    color: #989399;
}
[class*="el-icon-"],[class^="el-icon-"]{
    font-family: element-icons !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
}
.el-menu::after{
    clear: both;
}
.el-menu::after, .el-menu::before{
    display: table;
    content: "";
}
.el-menu-item{
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    min-width: 200px;
    font-size: 14px;
    color: #383133;
    cursor: pointer;
    transition: border-color .3s, background-color .3s, color .3s;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    list-style: none;
}
.el-icon-document::before{
    content: "\E785";
}
.el-submenu [class^="el-icon-"]{
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
}
.el-menu-item i{
    color: #989399;
}
[class*="el-icon-"], [class^="el-icon-"]{
    font-family: element-icon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
}

.el-menu{
    border-right: 1px solid #e6e6e6;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
}
.el-main{
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    flex-basis: auto;
    overflow: auto;
    padding: 20px;
}
.el-container-vertical{
    -webkit-box-direction: normal;
    flex-direction: column;
}
.el-container-horizontal{
    display: flex;
}